go 1.25.0

use (
	./apps/cli
	./packages/activity
	./packages/agent
	./apps/api
	./packages/architect
	./packages/auth
	./packages/compile
	./packages/container
	./packages/transpile
	./packages/mailbox
	./packages/migration
	./packages/platform
	./packages/upgrade
	./packages/project
	./packages/dependency
	./packages/runtimes
	./packages/world
	./tests/catalog
)
