go 1.25.0

use (
	./apps/cli
	./packages/activity
	./packages/agent
	./packages/api
	./packages/auth
	./packages/base
	./packages/catalog
	./packages/compile
	./packages/env
	./packages/ids
	./packages/image
	./packages/mailbox
	./packages/migration
	./packages/paths
	./packages/project
	./packages/version
	./packages/world
)
